@use '/src/assets/styles/variables' as var;

.splash-screen {
  height: 100%;

  .title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 6px 12px rgba(black, 0.5);
    padding: 50px 50px;
    color: var.$secondary-color;
  }

  .title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
