<mat-card class="book-list">
    <mat-card-title>La tua libreria</mat-card-title>

    <div *ngFor="let book of books">
        <mat-divider></mat-divider>
        <div role="listitem" class="book-item">
            <strong class="book-title">{{ book.title }}</strong>
            <div class="book-author">{{ book.author }}</div>
            <div class="book-plot">{{ book.plot }}</div>
            <div class="book-publication">{{ book.publication }}</div>

            <a class="button" href="/detail/{{ book.id }}"> LEGGI </a>
        </div>
    </div>
</mat-card>