@use '/src/assets/styles/variables' as var;

@use '~@angular/material/theming' as theming;
@include theming.mat-core();

$my-primary: (
    50 : #e1ebfa,
    100 : #b3ccf2,
    200 : #80abe9,
    300 : #4d89e0,
    400 : #276fda,
    500 : #0156d3,
    600 : #014fce,
    700 : #0145c8,
    800 : #013cc2,
    900 : #002bb7,
    A100 : #e0e5ff,
    A200 : #adbbff,
    A400 : #7a90ff,
    A700 : #617bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #ff9000,
    700 : #ff8500,
    800 : #ff7b00,
    900 : #ff6a00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$my-warn: (
        50 : #fae4ec,
        100 : #f3bbcf,
        200 : #ec8db0,
        300 : #e45f90,
        400 : #de3d78,
        500 : #d81b60,
        600 : #d41858,
        700 : #ce144e,
        800 : #c81044,
        900 : #bf0833,
        A100 : #ffe9ed,
        A200 : #ffb6c4,
        A400 : #ff839a,
        A700 : #ff6986,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000, 
                A700 : #000000,
        )
);

$my-custom-primary: theming.mat-palette($my-primary);
$my-custom-accent: theming.mat-palette($my-accent);
$my-custom-warn: theming.mat-palette($my-warn);
$my-custom-theme: theming.mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include theming.angular-material-theme($my-custom-theme);




/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0;
  height: 100%;

  * {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
}

body {
  height: 100%;
  padding: 20px;
  background: url('/assets/img/splashscreen.webp');
  background-size: cover;

  mat-card {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px 24px;
  }

  .book-item {
    padding: 20px 0;
    position: relative;
  }

  .book-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .book-author {
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .book-publication {
    position: absolute;
    background: var.$secondary-color;
    padding: 0px 6px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    top: 24px;
    right: 10px;
  }

  .button {
    background: var.$primary-gradient;
    min-width: 150px;
    font-weight: 600;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    padding: 10px 16px;
    margin-top: 20px;
    border: none;
    text-align: center;
    color: white;
  }

  .book-plot {
    font-size: 14px;
  }

  .book-arrow {
    position: absolute;
    font-size: 90px;
    top: 350px;
    padding: 0 20px;
    cursor: pointer;
    color: var.$primary-color;

    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}

